.header {
    background-color:aliceblue;
    text-align: center;
    padding: 10px;
}

body {
    text-align: center;
    background-color: rgb(168, 204, 237);
}

.leftcolumn{
    float: left;
    width: 70%;
}

.rightcolumn{
    float: right;
    width: 29%;
}

.card {
    background-color: aliceblue;
    padding: 20px;
    margin-top: 20px;
}